.category {
  padding: 2rem 10%;
}

.category__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__all {
  color: var(--color-blue-dark);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.all__title {
  font-size: 1rem;
}

.all__icon {
  width: 24px;
  height: 24px;
  background: url("../../icons/arrow-icon.svg");
}

.category__products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  width: 15%;
}

.item__img {
  width: 100%;
}

.item__title {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.item__price {
  font-weight: 700;
}

.item__link {
  color: var(--color-blue-dark);
  font-size: 1rem;
  font-weight: 700;
}


@media (max-width: 768px) {
    .category {
        padding: 2rem 5%;
    }

    .products__item {
        flex-basis: 23%;
    }

    .products__item:nth-child(n+5){
        display: none;
    }
}


@media (max-width: 360px) {
    .category {
        padding: 1rem 4%;
    }

    .products__item {
        flex-basis: 48%;
    }
}
